<h2>Level {{ LevelNumber }}</h2>
<div class="main-title">
    <input type="button" ng-value="PropsShowing ? '-' : '+'" ng-click="toggleProps()" title="{{ PropsShowing ? 'Collapse' : 'Expand' }} properties" />
    <h3>Properties</h3>
</div>
<div id="level-props" ng-show="PropsShowing">
    <div class="row wide level-name">
        <div class="title">Name</div>
        <div class="cell">
            <input ng-model="Level.name" />
        </div>
    </div>
    <div class="row wide">
        <div class="title">Win message</div>
        <div class="cell">
            <input ng-model="Level.winMessage" />
        </div>
    </div>
    <div class="row" ng-repeat="(key, value) in Level" ng-if="!['name', 'winMessage', 'scenes'].includes(key)">
        <div class="title">{{ ::key }}</div>
        <div class="cell">
            <div>X</div>
            <div><input type="number" ng-model="value.x" /></div>
        </div>
        <div class="cell">
            <div>Y</div>
            <div><input type="number" ng-model="value.y" /></div>
        </div>
        <div class="cell">
            <div>X Scale</div>
            <div><input type="number" ng-model="value.scaleX" /></div>
        </div>
    </div>
    <br />
</div>
<div class="main-title">
    <input type="button" ng-value="ScenesShowing ? '-' : '+'" ng-click="toggleScenes()" title="{{ ScenesShowing ? 'Collapse' : 'Expand' }} scenes" />
    <h3>Scenes</h3>
</div>
<div id="level-scenes" ng-show="ScenesShowing">
    <div class="row" ng-repeat="scene in Level.scenes" ng-class="scene.type">
        <div></div>
        <div class="cell">
            <div ng-if="($index % 5 == 0)">Type</div>
            <div>
                <select ng-model="scene.type" ng-options="sceneType.name as sceneType.desc for sceneType in Meta.sceneTypes">
                </select>
            </div>
        </div>
        <div class="cell small">
            <div ng-if="($index % 5 == 0)">Duration</div>
            <div><input type="number" ng-model="scene.dur" ng-disabled="!scene.type || scene.type == 'Win'" /></div>
        </div>
        <div class="cell small">
            <div ng-if="($index % 5 == 0)">X</div>
            <div><input type="number" ng-model="scene.x" ng-disabled="!['AvoidTask','AnimScene', null].includes(scene.type)" /></div>
        </div>
        <div class="cell small">
            <div ng-if="($index % 5 == 0)">Y</div>
            <div><input type="number" ng-model="scene.y" ng-disabled="!['AvoidTask','AnimScene', null].includes(scene.type)" /></div>
        </div>
        <div class="cell small">
            <div ng-if="($index % 5 == 0)">X Scale</div>
            <div><input type="number" ng-model="scene.scaleX" ng-disabled="!['AvoidTask','AnimScene', null].includes(scene.type)" /></div>
        </div>
        <div class="cell">
            <div ng-if="($index % 5 == 0)">Sprite</div>
            <div>
                <select ng-model="scene.sprite" ng-disabled="!['AnimScene', null].includes(scene.type)" ng-options="sprite for sprite in Meta.sprites">
                </select>
            </div>
        </div>
        <div class="cell">
            <div ng-if="($index % 5 == 0)">Animation</div>
            <div>
                <select ng-model="scene.anim" ng-disabled="!['AnimScene', null].includes(scene.type)" ng-options="anim for anim in Meta.animations[scene.sprite]">
                </select>
            </div>
        </div>
        <!-- <div class="cell">
            <div ng-if="($index % 5 == 0)">Character</div>
            <div><input ng-model="scene.char" ng-disabled="!['AvoidTask', null].includes(scene.type)" /></div>
        </div>
        <div class="cell">
            <div ng-if="($index % 5 == 0)">Color</div>
            <div><input ng-model="scene.style" ng-disabled="!['AvoidTask', null].includes(scene.type)" /></div>
        </div> -->
        <div class="cell">
            <div ng-if="($index % 5 == 0)">Locker scene</div>
            <div><input type="checkbox" ng-model="scene.locker" ng-disabled="!scene.type || scene.type == 'Win'" /></div>
        </div>
        <div class="scene-button">
            <input type="button" value="▲" title="move up" ng-click="moveScene($index, -1)" />
        </div>
        <div class="scene-button">
            <input type="button" value="▼" title="move down" ng-click="moveScene($index, 1)" />
        </div>
        <div class="scene-button">
            <input type="button" value="X" title="remove" ng-click="removeScene($index)" />
        </div>
    </div>
    <div class="row" id="add-scene">
        <div class="cell">
            <input type="button" value="+ New Scene" ng-click="addScene()" />
        </div>
    </div>
</div>

<br />
<!-- <input type="button" value="SAVE TO FILE" ng-click="saveToFile()" /> -->
<input type="button" value="COPY TEXT" ng-click="copyLevel()" />
<br />
<textarea readonly>
    {{ Level | json }}
</textarea>
