<div id="dashboard">
    <h2>Level {{ LevelNumber + ' - ' + Level.name }}</h2>
    <br />
    <input type="button" value="COPY TEXT" ng-click="le.addScene()" />
    <input type="button" value="SAVE" ng-click="le.saveToFile()" />
    <input type="checkbox" ng-model="le.godMode" ng-change="le.godModeChanged()">God Mode
    <p id="saved-msg" ng-show="SavedMsgOn">SAVED.</p>
</div>
<div class="main-title">
    <input type="button" ng-value="PropsShowing ? '-' : '+'" ng-click="le.toggleProps()" title="{{ PropsShowing ? 'Collapse' : 'Expand' }} properties" />
    <h3>Properties</h3>
</div>
<div id="level-props" ng-show="PropsShowing">
    <div class="row wide level-name">
        <div class="title">Name</div>
        <div class="cell">
            <input ng-model="Level.name" />
        </div>
    </div>
    <div class="row wide">
        <div class="title">Win message</div>
        <div class="cell">
            <input ng-model="Level.winMessage" />
        </div>
    </div>
    <div class="row" ng-repeat="(key, value) in Level.people">
        <div class="title">{{ ::key }}</div>
        <div class="cell">
            <div>X</div>
            <div><input type="number" ng-model="value.x" /></div>
        </div>
        <div class="cell">
            <div>Y</div>
            <div><input type="number" ng-model="value.y" /></div>
        </div>
        <div class="cell">
            <div>Facing</div>
            <div>
                <select ng-model="value.facing" ng-options="facing for facing in le.Meta.facing">
                </select>
            </div>
        </div>
    </div>
    <br />
</div>
<div class="main-title">
    <input type="button" ng-value="ScenesShowing ? '-' : '+'" ng-click="le.toggleScenes()" title="{{ ScenesShowing ? 'Collapse' : 'Expand' }} scenes" />
    <h3>Scenes</h3>
</div>
<div id="level-scenes" ng-show="ScenesShowing">
    <div class="row headers">
        <div class="cell">Type</div>
        <div class="cell small">Duration</div>
        <div class="cell small">X</div>
        <div class="cell small">Y</div>
        <div class="cell small">Gap</div>
        <div class="cell">Sprite</div>
        <div class="cell">Animation</div>
        <div class="cell small">Facing</div>
        <div class="cell small">Locker</div>
    </div>
    <div ng-repeat="scene in Level.scenes" ng-class="['row', scene.type, scene.sprite, { 'selected-scene': le.selectedSceneId == $index }]" ng-click="le.selectedSceneChanged($index)">
        <div class="cell">
            <select ng-model="scene.type" ng-options="sceneType.name as sceneType.desc for sceneType in le.Meta.sceneTypes">
                    </select>
        </div>
        <div class="cell small">
            <input type="number" ng-model="scene.dur" ng-disabled="!scene.type || scene.type == 'Win'" />
        </div>
        <div class="cell small">
            <input type="number" ng-model="scene.x" ng-disabled="!['AvoidTask','AnimScene', null].includes(scene.type)" />
        </div>
        <div class="cell small">
            <input type="number" ng-model="scene.y" ng-disabled="!['AvoidTask','AnimScene', null].includes(scene.type)" />
        </div>
        <div class="cell small">
            <input type="checkbox" ng-model="scene.isGap" ng-disabled="scene.type != 'AnimScene'" />
        </div>
        <div class="cell sprite">
            <select ng-model="scene.sprite" ng-disabled="!['AnimScene', null].includes(scene.type)" ng-options="sprite for sprite in le.Meta.sprites">
                    </select>
        </div>
        <div class="cell">
            <select ng-model="scene.anim" ng-disabled="!['AnimScene', null].includes(scene.type)" ng-options="anim for anim in le.Meta.animations[scene.sprite]">
                    </select>
        </div>
        <div class="cell small">
            <select ng-model="scene.facing" ng-disabled="!['AnimScene', null].includes(scene.type)" ng-options="facing for facing in le.Meta.facing">
                </select>
        </div>
        <div class="cell small">
            <input type="checkbox" ng-model="scene.locker" ng-disabled="!scene.type || scene.type != 'AnimScene'" />
        </div>
        <div class="scene-button">
            <input type="button" value="▲" title="move up" ng-click="le.moveScene($index, -1)" />
        </div>
        <div class="scene-button">
            <input type="button" value="▼" title="move down" ng-click="le.moveScene($index, 1)" />
        </div>
        <div class="scene-button">
            <input type="button" value="X" title="remove" ng-click="le.removeScene($index)" />
        </div>
        <div class="scene-button">
            <input type="button" value="+" title="add scene" ng-click="le.addScene($index, $event)" />
        </div>
    </div>
</div>

<textarea readonly>
    {{ Level | json }}
</textarea>
