body {
    display: flex;
}

input, select, textarea, div {
    border-radius: 2px;
    border-width: 1px;
}

#game {
    width: 960px;
    flex-shrink: 0;
}

#game canvas {
    margin: 0 auto;
    position: fixed;
}

#level-editor #dashboard {
    position: sticky;
    top: 10px;
}

#level-editor {
    font-family: monospace;
    font-size: 14px;
    margin: 20px;
    padding-right: 20px;
    text-align: left;
}

#level-editor input {
    padding-left: 2px;
}

#level-editor input:disabled, #level-editor select:disabled {
    background-color: darkgray;
}

#level-editor #dashboard {
    background-color: lightgray;
    border: 1px solid darkgray;
    padding: 8px;
    margin: auto;
    width: calc(100% - 27px);
}

#level-editor #dashboard h2 {
    margin: 0;
}

#level-editor .main-title h3 {
    float: left;
}

#level-editor .main-title input {
    float: right;
    margin-top: 16px;
}

#level-editor .main-title:after {
    content: "";
    clear: both;
    display: table;
}

#level-editor .row {
    display: flex;
    flex-direction: row;
    /*border-bottom: 1px solid lightseagreen;*/
    padding: 4px 5px;
    margin: 5px;
}

#level-editor .row.trump {
    background-color: darkseagreen;
}

#level-editor .row.woman {
    background-color: rgba(218, 112, 214, 0.5);
    ;
}

#level-editor .row.Wait {
    background-color: rgba(127, 127, 127, 0.5);
}

#level-editor .row.AvoidTask {
    background-color: rgba(255, 94, 30, 0.5);
}

#level-editor .row.Win {
    background-color: lightgreen;
}

#level-editor .row.level-name input {
    font-weight: bold;
}

#level-editor .row.wide input {
    width: 400px;
}

#level-editor .title {
    width: 140px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

#level-editor .cell {
    margin-right: 20px;
    width: 90px;
    white-space: nowrap;
}

#level-editor .cell.small {
    width: 60px;
}

#level-editor .cell * {
    width: 100%;
    margin-bottom: 1px;
}

#level-editor .cell .cell-desc {
    text-align: center;
}


/*#level-editor .cell.sprite select {
    color: white;
}*/

#level-editor .cell.sprite select option {
    color: black;
}

#level-editor .cell select {
    height: 22px;
}

#level-editor #saved-msg {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 8px;
}

#level-editor .scene-button {
    margin: auto 4px;
}

#level-editor #add-scene .cell {
    margin: auto 0;
}

#level-editor textarea {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 300px;
}
