#level-editor {
    font-family: monospace;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    margin: 20px;
}

#level-props {
    text-align: left;
}

#level-props .row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightseagreen;
    padding: 4px 5px;
    height: 40px;
}

#level-props .row.Wait {
    background-color: rgba(127, 127, 127, 0.5);
}

#level-props .row.AvoidTask {
    background-color: rgba(255, 94, 30, 0.5);
}

#level-props .row.win-message input {
    width: 400px;
}

#level-props .title {
    width: 140px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

#level-props .cell {
    margin-right: 20px;
    width: 90px;
    white-space: nowrap;
}

#level-props .cell.small {
    width: 60px;
}

#level-props .cell * {
    width: 100%;
    margin-bottom: 1px;
}

#level-props .cell select {
    height: 22px;
}

#level-props .remove-button {
    margin: auto;
}

/*#level-props .remove-button input {
    font-size: 16px;
}*/

#level-props #add-scene .cell {
    margin: auto 0;
}

#level-editor textarea {
    margin-top: 10px;
    width: 50%;
    height: 50px;
}
