#level-editor input:disabled,
#level-editor select:disabled {
    background-color: darkgray;
}

#level-editor {
    font-family: monospace;
    font-size: 14px;
    margin-top: 10px;
    margin: 20px;
    text-align: left;
}

#level-editor .main-title h3 {
    float: left;
}

#level-editor .main-title input {
    float: right;
}

#level-editor .main-title:after {
    content: "";
    clear: both;
    display: table;
}

#level-editor .row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightseagreen;
    padding: 4px 5px;
    height: 40px;
}

#level-editor .row.Wait {
    background-color: rgba(127, 127, 127, 0.5);
}

#level-editor .row.AvoidTask {
    background-color: rgba(255, 94, 30, 0.5);
}

#level-editor .row.level-name input {
    font-weight: bold;
}

#level-editor .row.wide input {
    width: 400px;
}

#level-editor .title {
    width: 140px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

#level-editor .cell {
    margin-right: 20px;
    width: 90px;
    white-space: nowrap;
}

#level-editor .cell.small {
    width: 60px;
}

#level-editor .cell * {
    width: 100%;
    margin-bottom: 1px;
}

#level-editor .cell select {
    height: 22px;
}

#level-editor .headers {

}

#level-editor .scene-button {
    margin: auto;
}

#level-editor #add-scene .cell {
    margin: auto 0;
}

#level-editor textarea {
    margin-top: 10px;
    width: 50%;
    height: 50px;
}
